html {
  font-family: 'Khula', sans-serif;
}

html, body {
  margin: 0;
}

/* Page header */

header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 4% 10% 2% 10%;
  background-color: #008FB2;
}

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
  }
  
  .main-nav {
    margin-top: 2%;
  }
}

.main-title {
  font-size: 3em;
  color: white;
  border-bottom: 2px solid #FF7A00;
  letter-spacing: 0.2px;
  margin: 0;
  text-align: center;
}

.main-title a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.main-title a:hover {
  color: #FF7A00;
  text-decoration: none;
}

.main-nav a {
  font-size: 1.3em;
  line-height: 2em;
  text-decoration: none;
  transition: all 0.2s;
  color: white;
}

.main-nav a:hover {
  border-bottom: 2px solid #FF7A00;
  color: #FF7A00;
}

.main-nav a:active,
.main-title a:active {
  color: #FF7A00;
}

.main-nav ul {
  padding: 0;
  display: inline;
}

.main-nav li {
  list-style-type: none;
  display: inline;
}

.main-nav li:nth-of-type(n+1) {
  margin-left: 1em;
}

/* TODO: make space for drawer as it slides out */

.drawer {
  display: inline-block;
  width: 80%;
  padding: 0 10% 0 10%;
  background-color: #00CCFF;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  transition: transform 0.2s;
  transform-origin: top;
}

.drawer-open {
  transform: scaleY(1);
}

.drawer-closed {
  transform: scaleY(0);
}

/* Page content */

.container {
  padding: 0.5em 10% 0.5em 10%;
}

.page-title {
  color: rgba(0, 0, 0, 0.8);
}

.page-title h2 {
  margin-bottom: 0;
}

/* Styles for the page content */

.content {
  width: 100%;
  display: inline-block;
  /*overflow: hidden;*/
}

.content .img-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5em 0.5em 0 0.5em;
}

.content .img-description {
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
}

.content .img-container img {
  max-height: 30em;
  max-width: 100%;
  height: auto;
}

.content .img-thumb {
  display: inline-block;
  position: relative;
  width: 8em;
  height: 8em;
  overflow: hidden;
  border: 2px solid #008FB2;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.05);
}
.content .img-thumb:hover {
  border: 2px solid #FF7A00;
}

.content .img-thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.content h1 {
  color: rgba(0, 0, 0, 0.8);
}

.content h2 {
  color: rgba(0, 0, 0, 0.7);
}

.content h3 {
  color: rgba(0, 0, 0, 0.6);
}

.content p, .content li {
  color: rgba(0, 0, 0, 0.6);
}

.content a {
  color: #008FB2;
}

.content a:hover,
.content a:active {
  color: #FF7A00;
}

.content .metadata {
  display: flex;
  flex: 1;
}

.content .metadata p {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.content .metadata .author {
  font-style: normal;
}

.content .tags {
  display: flex;
  flex: 1;
  align-items: baseline;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1%;
}

.content .tags p {
  margin: 0;
}

.content .tags ul {
  margin: 0;
  padding: 0;
  display: inline;
  color: rgba(0, 0, 0, 0.6);
}

.content .tags li {
  list-style-type: none;
  display: inline;
}

.content .tags .tag {
  margin-right: 0.5em;
}

.content .post-nav {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content .post-nav p {
  margin: 0;
  font-style: italic;
}

.content .post-timeline-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.content .post-timeline-left {
  /*transform: translateX(-100%);*/
  position: absolute;
  left: 0;
  width: 20%;
  text-align: right;
  padding-top: 1em;
}

.content .post-timeline-right {
  width: 100%;
  margin-left: 20%;
  align-items: flex-start;
  border-left: 3px solid rgba(0, 0, 0, 0.8);
  padding-top: 1em;
}

.content .post-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.content .post-title::before,
.content .post-title:hover::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 3px solid rgba(0, 0, 0, 0.8);
  transform: translateX(-12px);
  background-color: white;
}

.content .post-title:hover::before {
  background-color: #FF7A00;
}

.content .post-excerpt {
  padding-left: 1.3em;
}

.content .post-excerpt p {
  margin: 0;
}

.content .post-date {
  color: rgba(0, 0, 0, 0.8);
}

blockquote {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 97%;
  margin: 0;
  padding: 1.5%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
}

blockquote::before {
  font-size: 3em;
  padding-right: 1%;
  font-family: "Inconsolata", sans-serif;
  opacity: 0.40;
  content: "“";
}

blockquote p {
  margin: 0;
}

/* Page footer */

footer {
  padding: 0.5em 10% 0.5em 10%;
  color: rgba(0, 0, 0, 0.6);
}

.footer-text {
  width: 100%;
  border-top: 2px solid #008FB2;
}

.footer-text a {
  color: #008FB2;
}

.footer-text a:hover,
.footer-text a:active {
  color: #FF7A00;
}
