---
layout: default
---

<div class="metadata">
  <p class="authors">
    Written by
    <span class="author">
      {% for author in page.authors %}
        <a href="#" title="View posts by {{ author | capitalize }}">{{author | capitalize}}</a>{% if forloop.rindex == 2 %} and{% elsif forloop.rindex > 2 %},{% endif %}
      {% endfor %}
    </span>
    on
    <span class="date">{{ page.date | date: "%-d %B %Y" }}</span>.</p>
</div>

{{ page.content }}

{% if page.tags and page.tags.size != 0 and page.tags != nil %}
  <div class="tags">
    <p>Tagged with&nbsp;</p>
    <ul>
      {% for tag in page.tags %}
        <li><a href="/tags#{{ tag }}" title="View posts tagged with {{ tag }}">{{ tag }}</a></li>{% if forloop.rindex == 2 %} and{% elsif forloop.rindex == 1 %}.{% elsif forloop.rindex > 2 %},{% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div class="post-nav">
  <div class="post-nav-next">
    {% if page.next == nil %}
      <a href="/" title="Go to the Homepage">Back to the Homepage</a>
    {% else %}
      <a href="{{ page.next.url }}" title="View the next blog post">← Next post</a>
    {% endif %}
  </div>
  <div class="post-nav-prev">
    {% if page.previous == nil %}
      <p>You've read everything!</p>
    {% else %}
      <a href="{{ page.previous.url }}" title="View the previous blog post">Previous post →</a>
    {% endif %}
  </div>
</div>
